@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Основные элементы */

body {
    font-family: "Roboto", sans-serif;
    background-color: #1C1C1C;
    color: #fff;
    margin: 0;
}

a{
    color: #fff;
    text-decoration: none; 
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

img{
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

    width: 165px;
    height: 50px;
    
    background: #F6762C;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: opacity 0.3s;
}

html {
    scroll-behavior: smooth; 
}

.btn:hover {
    opacity: 0.8;
}


/* Шапка */

.header {
    padding: 25px 0;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
 
}

.header__nav {
    

}

.header__list {
    display: flex;
    gap: 30px;

}

.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__nav a:hover {
    opacity: 0.9;
}

.header__nav a.active {
    font-size: 14px;
    opacity: 1;
}



.main {

}

/* Основная страница */

.welcome {
    box-sizing: border-box;
    min-height: 100vh;
    margin-top: -100px;
    padding: 240px 0;
    background-image: url("./images/welcome-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__text {
    width: 550px;
}


.welcome__subtitle {
    letter-spacing: 0.1em;
    font-size: 14px;
    margin-bottom: 7px;
}

.welcome__title {
    font-size: 58px;
}

.welcome__desk {
    font-size: 18px;
    opacity: 0.7;
    margin: 40px 0;
}


/* Список еды */
.food-list {
    padding: 100px 0px;

}

.food-list .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list__card {
    width: 260px;
    background: #312F30;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;

}

.food-list__img {
    height: 175px;
    object-fit: cover;

}

.food-list__text-wrapper{
    padding: 30px 20px;
}

.food-list__title {
    font-size: 20px;
    margin-bottom: 15px;
}

.food-list__desc {
    opacity: 0.7;
    font-size: 16px;
    margin-bottom: 15px;

}

.food-list__price{
    color: #F6762C;
    letter-spacing: 0.1em;
    text-decoration: underline;
    font-size: 16px;
}



/* Бургер кинг */
.order {
    background: #312F30;
    padding: 60px 0;
    
}

.order .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 90px;
    box-sizing: border-box;
}

.order__img {

}

.order__text {
    max-width: 400px;

}

.order__title {
    font-size: 44px;
    margin-bottom: 25px;
}

.order__desc {
    opacity: 0.7;
    margin-bottom: 15px;
}

.order__price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #F6762C;
}

.order .btn {
    margin-top: 10px;

}


/* feedback */
.feedback {
    padding-bottom: 100px;
    padding-top: 100px;

}

.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 850px;

}

.feedback__img {

}

.feedback__text {
    margin: 0;
    text-align: center;
    width: 370px;
    
 
}

.feedback__text::before{
    content: url(./images/icons/quote.svg);
}

.feedback_desc {
    opacity: 0.7;
    margin: 30px 0;
}

.feedback_author {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.feedback_subauthor {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;
    display: block;
} 



/* адресс */
.contacts {
    background: #312F30;
    

}

.contacts .container {
    display: flex;
    justify-content: space-around;

}

.contacts__title {
    font-weight: 500px;
    font-size: 40px;
    padding: 40px 0;

}

.adress {
    color: #F6762C;
    padding: 57px 0;

}